DB_NAME='tandem'
DB_USER='root'
DB_PASSWORD=''

# Optionally, you can use a data source name (DSN)
# When using a DSN, you can remove the DB_NAME, DB_USER, DB_PASSWORD, and DB_HOST variables
# DATABASE_URL='mysql://database_user:database_password@database_host:database_port/database_name'

# Optional variables
DB_HOST='localhost'
DB_PREFIX='wp_'

WP_ENV='development'
WP_HOME='http://localhost:8000'
WP_SITEURL="${WP_HOME}/wp"
WP_DEBUG_LOG=/path/to/debug.log

# Generate your keys here: https://roots.io/salts.html
AUTH_KEY='0)YTAyYBB>phLpH*nD*6z99n{Y(^`Gnoa1oiHi@A*`#5R7l&4(77$Wme_ME^W,zt'
SECURE_AUTH_KEY='dfpZQ(Ms|3Z4<pomZ$EQsia${i![ZhxA3Eou&o;&XM-.l2pt,[1PJc?Jsicb|A%>'
LOGGED_IN_KEY='9KLTbVZ#)d*{z!52`6(&TV0YR6FWsP5O|/aCMH|kGf<SRPxNri;6zy*vi+He0?3j'
NONCE_KEY='GJxeNp.29f_|e7wWzn(!sNMfX92pQYS[Qq?|Z[oYd}RrA5BTauL0s*J!2ch!gV9;'
AUTH_SALT='z/4C$;V;qajs3kqa*Wr@;y:A0lX(HydykMe}6[UJh!uz,1!?Pqu,z9{W^H_+&3-&'
SECURE_AUTH_SALT='L)z]!(uN9R8&ZhNO:LhkZt,8>d>+1y*(}[UP_4YP<}Ly5{#;^SOz=seW5TL)FmfM'
LOGGED_IN_SALT='6cK#nP<ZI!6Ao;tsCEaQ%6jORywFD-y5Aic4Y0}_er0ZYhB%9MQb7H%w%a3J5@8s'
NONCE_SALT='a+OOQr#}YfPwK0%H^W&<]i,wi%SWUa,>b(crNTY-AAC)8$<-h0Mj+)ioKT|&>6ds'
