.form-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: $color;
  font-size: 0.8rem;
}
.form-label {

}
.form-button {
  //display: inline-block;
  //padding: .25rem .5rem;
  //line-height: 1.8;
  //cursor: pointer;
  //text-align: center;
  //color: $color;
  //text-decoration: none;
  //border: $color 1px solid;
  //border-radius: .2rem;
  width: 100%;
  background-color: $tease-background-color;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  font-weight: bold;
  //font-size: 1.2rem;
  border-radius: 4px;
  cursor: pointer;
  color: $accent-color;

  &:hover {
    background-color: darken($tease-background-color, 5%);
  }
}

.wpcf7-response-output{
  //display: None;
  width: calc(100% - 2rem);
  //height: 70px;
  //margin: 1rem;
  border: None !important;
  //padding-left: 1rem;
  line-height: 30px;
  border-radius: 1rem;
  //color: $color;
  //font-size: 1.2rem;
  text-align: center;
  background-color: $alert-error-color;
}

.wpcf7-not-valid-tip {
  font-size: 0.8rem;
}